body{
	font-family: "avenir"; 
	background: #4568DC;  /* fallback for old browsers */
	background-repeat:no-repeat; 
	background-attachment:fixed;
	overflow: hidden;
	background: -webkit-linear-gradient(to bottom, #B06AB3, #4568DC)fixed;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #B06AB3, #4568DC)fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:#f1f1f1;
	text-align:center; 
}
#quiz,#results,#submit{
	display: none;
}
#select{
	display: none;
}
#act{
	display: none;
}
#submit{
margin-left: 30%;
margin-right: 30%;
width: 70%;
}
#btnSubmit{
		border: 2px solid #f1f1f1;
		width: 35%;
		text-align:center;
		margin: 1%;
		margin-top:5%;  
}
#btnSubmit:hover{
	color: #202020;
	background: #f1f1f1;
}
#logo{
	margin-right: 20%;
	margin-left: 12%;
	width:240px;
	height: 240px;
}

#un{
width: 45%;
margin-left: 12%;
}
#back{
	display: none;
}
	#register{
		display:none;
		
	}
	#reg{
		border: 2px solid #f1f1f1;
		text-align: center;
		margin-top: 35%;

	}
	#reg:hover{
		color:#202020;
		background: #f1f1f1;
	}
	#learn{

		color:#202020;
		background: #f1f1f1;
		margin-top: 10%;
		border: 2px solid #f1f1f1;
		text-align: center;
	}
	/*Font Css*/

@font-face {
font-family: 'Billabong';
font-style: normal;
font-weight: normal;
src: local('Billabong'), url('Billabong.woff') format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=k6e5O52B6MekHtih-eM9afesZW2xOQ-xsNqO47m55DA&skey=8887f17a62203d44&v=v1) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=yrOSjsChZucrvtFmTHmr7g&skey=8887f17a62203d44&v=v1) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}




.main
{
	display: none;
	width: 45%;
	margin: 10% auto;
	border: 2px solid #B06AB3;
	box-shadow: 1px 2px 10px #555;
}
.info
{
	width: 98.5%;
	background-color: #B06AB3;
	padding: 7px;
	text-shadow: 1px 1px 1px #222;
	color: #fff;
	font-size: 20px;
}
.form-box
{
	padding: 20px;
	background-color: #f1f1f1;
}
label
{
	color: #202020;
	font-size: 18px;
}
.inp,.msg-box
{
	width: 90%;
	padding: 10px;
	margin-top: 4px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 2px solid #B06AB3;
	font-weight: bold;
	color: #202020;
	resize: none;
}

.sub-btn
{
	width: 96%;
	padding: 4.8%;
	border-radius: 5px;
	margin-top: 2%;
	background: linear-gradient(to right, #B06AB3, #4568DC);
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	text-shadow: 1px 1px 1px #444;
	text-align: center;
	padding-top: 1%;
}


@media(max-width: 720px)
{
	.main
	{
		width: 100%;
	}
		
}



